* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url("/assets/locations/1_main.png");
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.relative { position: relative; }
.absolute { position: absolute; }
.unselectable {
     user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Locations (Layers) */
#daveLoc {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: black;
    background-color: black;

    opacity: 1;
    transition: opacity 2s;
}

/* Assets */
#daveText {
    text-shadow: 2px 2px black;
    font-family: "Roboto Mono", monospace;
    font-size: 2rem;
    padding-bottom: 1rem;
    height: 60px;

    color: white;
}

#daveCharacter {
    filter: drop-shadow(1px 1px 15px rgba(151, 145, 145, 0.5));
    filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.5));

    opacity: 0;
    animation: fadeIn 4s forwards;

    cursor: not-allowed;
}

#daveTextBox {
    padding: 0 0.5rem;
    outline: none;
    width: 16rem;
    height: 2rem;

    border: 0 transparent;
    border-bottom: 2px solid gray;

    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;

    color: white;
    background-color: transparent;
}

/* Buttons */
#btnDownstairs {
    background-image: url("/assets/other/down.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    bottom: 2rem; 
    padding: 3rem 2rem;
    cursor: pointer;
}

/* Keyframes */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}