
* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

/* Locations (Layers) */
/* .location {
    position: relative;
    display: inline-block;
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
} */

.location {
    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.location > *:not(.locationBgImg) {
    position: absolute;
    object-fit: cover;

    z-index: 1;
}

.location .locationBgImg {
    position: relative;

    max-width: 100vw;
    max-height: 100vh;
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: -1;
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;  

}

.daveContainer {
    display: flex;
    flex-direction: column;
}

#daveLoc {
    opacity: 1;
    transition: opacity 2s;
    background-color: black;
}

/* Assets */
#daveText {
    text-shadow: 2px 2px black;
    font-family: "Roboto Mono", monospace;
    font-size: 3vh;

    text-align: center;

    height: auto;
    max-height: 4vh;

    padding-bottom: 1rem;
    color: white;
}

#daveCharacter {
    filter: drop-shadow(2% 2% 15px rgba(151, 145, 145, 0.5));
    filter: drop-shadow(2% 2% 15px rgba(0, 0, 0, 0.5));

    max-width: 40vw;
    max-height: 40vh;
    width: auto;
    height: auto;

    opacity: 0;
    animation: fadeIn 4s forwards;

    cursor: not-allowed;
}

#daveTextBox {
    padding: 0 0.5rem;
    outline: none;
    font-size: 1.5vh;
    width: 20vw;
    height: 3vh;

    border: 0 transparent;
    border-bottom: 1px solid gray;

    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;

    color: white;
    background-color: transparent;
}

/* Buttons */
#btnDownstairs {
    background-image: url("/assets/other/down.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    bottom: 1rem; 
    padding: 2vw 3vh;
    cursor: pointer;
}

#btnUpstairs {
    background-image: url("/assets/other/up.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    top: 5vh;
    padding: 3rem 2rem;
    cursor: pointer;
}

#btnBasementLeft {
    color: black;
    padding: 1vw 1vh;
    bottom: 31vh;
    left: 10vw;

    cursor: pointer;
    border: 2px solid red;
}

/* Keyframes */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}